{% extends "dashboard/base.html" %}

{% load widget_tweaks %}

{% load common_tag %}

{% block content_area %}

    {# Python Code for this page #}

    <div class="right_col" role="main">

        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <h2>{{ page_title }}</h2>
                </div>
            </div>
        </div>

        <div class="x_panel">


            {% with form_url='/admin/savesmsconfig/' %}

                {% if smsconfig_details.id %}
                    {% set form_url = '/admin/updatesmsconfig/' %}
                {% else %}
                    {% set form_url = '/admin/savesmsconfig/' %}
                {% endif %}

                <form action="{{ form_url }}" method="post">

                    <span class="error_red"> {{ form.non_field_errors }} </span>

                    <div class="row">

                        {% if form.firm_id %}
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group control-required">
                                    {{ form.firm_id.label_tag }}
                                    {% if form.firm_id.field.required == "required" %}
                                        <span class="error_red"> * </span>{% endif %}
                                    <select id="firm_id_id" name="firm_id" class="form-control select2">
                                        {% for x,y in form.fields.firm_id.choices %}
                                            <option value="{{ x }}"
                                                    {% if city_details.firm_id.value == x %}
                                                    selected
                                                    {% endif %}>
                                                {{ y }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <span class="error_red"> {{ form.firm_id.errors }} </span>
                            </div>
                        {% endif %}

                        {% if form.sms_count %}
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group control-required">
                                    {{ form.sms_count.label_tag }}
                                    {% if form.sms_count.field.required == "required" %}
                                        <span class="error_red"> * </span>{% endif %}
                                    {% render_field form.sms_count value=smsconfig_details.sms_count class="form-control" placeholder="Total Sms" %}
                                </div>
                                <span class="error_red"> {{ form.sms_count.errors }} </span>
                            </div>
                        {% endif %}

                        {% if form.api_key %}
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group control-required">
                                    {{ form.api_key.label_tag }}
                                    {% if form.api_key.field.required == "required" %}
                                        <span class="error_red"> * </span>{% endif %}
                                    {% render_field form.api_key value=smsconfig_details.api_key class="form-control" placeholder="ApI Key" %}
                                </div>
                                <span class="error_red"> {{ form.api_key.errors }} </span>
                            </div>
                        {% endif %}


                        {% if form.status %}
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group control-required">
                                    <label>{{ form.status.label_tag }}</label>
                                    <span class="error_red"> * </span>
                                    <select id="status_id" name="status" class="form-control select2">
                                        {% for x,y in form.fields.status.choices %}
                                            <option value="{{ x }}"
                                                    {% if smsconfig_details.status ==  x|stringformat:'s' %}
                                                    selected="selected"{% endif %}>{{ y }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <span class="error_red"> {{ form.status.errors }} </span>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <hr>

                    {% if smsconfig_details.id %}
                        <input type="hidden" name="id" value="{{ smsconfig_details.id }}"/>
                    {% endif %}

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <a onclick="history.go(-1);" class="btn btn-success pull-right">Cancel</a>
                            <input type="submit" name="submit" value="Save" class="btn btn-primary pull-right"/>
                        </div>
                    </div>

                    {% csrf_token %}

                </form>
                </div>


            {% endwith %}

    </div>
    </div>

{% endblock %}